.publications-card {
  width: 50%;
  background-color: rgb(212, 212, 212);
  display: flex;
  margin-left: 25%;
  margin-right: 25%;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  border-radius: 2%;
}

.publication_image{
  margin-bottom: 0%;
}